[Unit]
# this config file is located/etc/systemd/system
Description= Back Camera Video Server
After=network.target 

[Service]
Type=simple
#to allow the server to start after the boot is completed
ExecStartPre=/bin/sleep 45
ExecStart=/bin/bash video_server_bcamera.sh 
ExecStop= 
#Restart=on-failure
User=root

#[Timer]
#OnUnitActiveSec=45s
#OnBootSec=45s

[Install]
WantedBy=multi-user.target
